{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>Schedule</h2>

    <div id="scheduleTable"></div>

    <button type="button" class="btn btn-primary" id="btn-more-days">More</button>

    <button type="button" class="btn btn-primary" id="btn-test">Test</button>

    <div class="btn-toolbar mt-3">
        <div class="btn-group">
            <button type="button" class="btn btn-success" id="btn-answer-ok">OK</button>
            <button type="button" class="btn btn-light" id="btn-answer-maybe">Maybe</button>
            <button type="button" class="btn btn-danger" id="btn-answer-no">No</button>
        </div>
        <div class="btn-group ms-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="From hour - To hour" id="input-answer-hours" value="">
                <button class="btn btn-warning" type="button" id="btn-answer-hours">Set hours</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', path='/schedulio.new.js') }}"></script>
{% endblock %}
