{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h2 id="schedule-title">...</h2>

    <div class="btn-toolbar mt-3 mb-3">
        <div class="btn-group">
            <button type="button" class="btn btn-success" id="btn-answer-ok" 
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vote for &quot;Available&quot; in selected days">OK</button>
            <button type="button" class="btn btn-outline-secondary" id="btn-answer-maybe"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vote for &quot;Maybe&quot; (empty cell) in selected days">Maybe</button>
            <button type="button" class="btn btn-danger" id="btn-answer-no"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vote for &quot;I can't&quot; in selected days">No</button>
        </div>
        <div class="btn-group ms-2">
            <div class="input-group">
                <button class="btn btn-warning" type="button" id="btn-answer-hours"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Specify availability hours in selected days">Set hours:</button>
                <input type="text" class="form-control" placeholder="From hour - To hour" id="input-answer-hours" value="18-24"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Type hours in 'HH-HH' format or 'HH:MM - HH:MM'">
            </div>
        </div>
    </div>

    <div style="overflow: auto; max-height: 75vh;">
        <div id="scheduleTable"></div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script>
let scheduleId = '{{ schedule.id }}'
</script>
<script src="{{ url_for('static', path='/schedulio.new.js') }}"></script>
{% endblock %}
